<div class="panel panel-default">
  <!--<div class="panel-heading"><h2>Sign Up</h2></div>-->
  <div class="panel-body">
    
  <%= form_for(@round) do |f| %>
    <% if @round.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>
  
        <ul>
        <% @round.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%#= f.label :course %><br>
      <%= f.collection_select(:course_id, current_user.courses.all.order("name ASC"), :id, :name, :prompt => "Select a course") %> or <%= link_to 'Add a new Course', new_course_path %>
    </div>
    
    <div class="form-group">
      <%#= f.label :date, class: 'sr-only' %><br>
      <%= f.date_field :date, value: (@round.date ? @round.date : Date.today), class: 'form-control', prompt: true %> 
    </div>
    
    <div class="form-group">
      <%= f.label :score, class: 'sr-only' %><br>
      <%= f.number_field :score, class: 'form-control', placeholder: 'Score' %>
    </div>
    
    <div class="form-group">
      <%= f.label :adjusted_score, class: 'sr-only' %><br>
      <%= f.number_field :adjusted_score, class: 'form-control', placeholder: 'Adjusted Score' %>
    </div>
    
    <div class="form-group">
      <%= f.label :fairways, class: 'sr-only' %><br>
      <%= f.number_field :fairways, class: 'form-control', placeholder: 'Fairways Hit' %>
    </div>
    
    <div class="form-group">
      <%= f.label :gir, class: 'sr-only' %><br>
      <%= f.number_field :gir, class: 'form-control', placeholder: 'Greens in Regulation' %>
    </div>
    
    <div class="form-group">
      <%= f.label :putts, class: 'sr-only' %><br>
      <%= f.number_field :putts, class: 'form-control', placeholder: 'Number of Putts' %>
    </div>
    
    <div class="form-group">
      <%= f.label :three_putts, class: 'sr-only' %><br>
      <%= f.number_field :three_putts, class: 'form-control', placeholder: 'Number of 3+ Putts' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_driver, class: 'sr-only' %><br>
      <%= f.number_field :missed_driver, class: 'form-control', placeholder: 'Missed: Drivers' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_fairway_metal, class: 'sr-only' %><br>
      <%= f.number_field :missed_fairway_metal, class: 'form-control', placeholder: 'Missed: Fairway Woods' %>
    </div>
    
    <!--<div class="form-group">-->
    <!--  <%#= f.label :missed_rescue, class: 'sr-only' %><br>-->
    <!--  <%#= f.number_field :missed_rescue, class: 'form-control', placeholder: 'Missed: Rescue Clubs' %>-->
    <!--</div>-->
    
    <div class="form-group">
      <%= f.label :missed_iron_long, class: 'sr-only' %><br>
      <%= f.number_field :missed_iron_long, class: 'form-control', placeholder: 'Missed: Long Irons' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_iron_mid, class: 'sr-only' %><br>
      <%= f.number_field :missed_iron_mid, class: 'form-control', placeholder: 'Missed: Middle Irons' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_iron_short, class: 'sr-only' %><br>
      <%= f.number_field :missed_iron_short, class: 'form-control', placeholder: 'Missed: Short Irons' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_pitch, class: 'sr-only' %><br>
      <%= f.number_field :missed_pitch, class: 'form-control', placeholder: 'Missed: Pitch Shots' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_chip, class: 'sr-only' %><br>
      <%= f.number_field :missed_chip, class: 'form-control', placeholder: 'Missed: Chips' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_sand, class: 'sr-only' %><br>
      <%= f.number_field :missed_sand, class: 'form-control', placeholder: 'Missed: Sand Shots' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_putt_long, class: 'sr-only' %><br>
      <%= f.number_field :missed_putt_long, class: 'form-control', placeholder: 'Missed: Long Putts' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_putt_mid, class: 'sr-only' %><br>
      <%= f.number_field :missed_putt_mid, class: 'form-control', placeholder: 'Missed: Medium Putts' %>
    </div>
    
    <div class="form-group">
      <%= f.label :missed_putt_short, class: 'sr-only' %><br>
      <%= f.number_field :missed_putt_short, class: 'form-control', placeholder: 'Missed: Short Putts' %>
    </div>
    
    <div class="form-group">
      <%= f.label :penalties, class: 'sr-only' %><br>
      <%= f.number_field :penalties, class: 'form-control', placeholder: 'Penalties' %>
    </div>

    <div class="actions">
      <%= f.submit "Save Round", class: 'btn btn-warning' %>
    </div>
  
  <% end %>
  
  </div>
  
</div>