<!--<div style="display: inline-block, vertical-align: text-top">-->
<div>
  <h1>Round Info:</h1>
  <p>
    <strong>Date:</strong>
    <%= @round.date %>
  </p>
  
  <p>
    <strong>Course:</strong>
    <%= @round.course.name %>
  </p>
  
  <p>
    <strong>Score:</strong>
    <%= @round.score %>
  </p>
  
  <p>
    <strong>Adjusted Score:</strong>
    <%= @round.adjusted_score %>
  </p>
  
  <p>
    <strong>Fairways Hit:</strong>
    <%= @round.fairways %>
  </p>
  
  <p>
    <strong>Greens in Regulation:</strong>
    <%= @round.gir %>
  </p>
  
  <p>
    <strong>Putts:</strong>
    <%= @round.putts %>
  </p>
</div>

<!--<div style="display: inline-block, vertical-align: text-top">-->
<div>
  <h1>Shots Missed:</h1>
  <p>
    <strong>Missed Drivers:</strong>
    <%= @round.missed_driver %>
  </p>
  
  <p>
    <strong>Missed Fairway Woods:</strong>
    <%= @round.missed_fairway_metal %>
  </p>
  
  <p>
    <strong>Missed Rescue Clubs:</strong>
    <%= @round.missed_rescue %>
  </p>
  
  <p>
    <strong>Missed Long Irons:</strong>
    <%= @round.missed_iron_long %>
  </p>
  
  <p>
    <strong>Missed Middle Irons:</strong>
    <%= @round.missed_iron_mid %>
  </p>
  
  <p>
    <strong>Missed Short Irons:</strong>
    <%= @round.missed_iron_short %>
  </p>
  
  <p>
    <strong>Missed Chips:</strong>
    <%= @round.missed_chip %>
  </p>
  
  <p>
    <strong>Missed Pitches:</strong>
    <%= @round.missed_pitch %>
  </p>
  
  <p>
    <strong>Missed Sand Shots:</strong>
    <%= @round.missed_sand %>
  </p>
  
  <p>
    <strong>Missed Long Putts:</strong>
    <%= @round.missed_putt_long %>
  </p>
  
  <p>
    <strong>Missed Medium Putts:</strong>
    <%= @round.missed_putt_mid %>
  </p>
  
  <p>
    <strong>Missed Short Putts:</strong>
    <%= @round.missed_putt_short %>
  </p>
  
  <p>
    <strong>Penalty Strokes:</strong>
    <%= @round.penalties %>
  </p>
</div>

<hr>

<%= link_to 'Edit', edit_round_path(@round), :class => "btn btn-primary" %>
<%= link_to 'Delete', @round, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<%= link_to 'My Rounds', rounds_path, :class => "btn btn-success" %>