<div style="display: inline-block">
  <h1>My Handicap: <%= @handicap.round(1) %></h1>
  <!--Need error handling here for nil rounds-->
  <!--should maybe look at using decimal instead of float-->
</div>
<div style="display: block">
  <br>
  <h3><%= @eligible_rounds.count %> lowest rounds (from last <%= @rounds.count %> played):</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Course</th>
      <!--<th>Rating</th>-->
      <!--<th>Slope</th>-->
      <!--<th>Favourite</th>-->
      <th>Score</th>
      <th>Handicap</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% if @eligible_rounds.any? %>
      <% @eligible_rounds.each do |round| %>
        <tr>
          <td><%= link_to round.date, round %></td>
          <td><%= round.course.name %></td>
          <td><%= round.score %></td>
          <td><%= round.handicap_differential %></td>
          <td><%#= link_to 'Show', course %></td>
          <td><%#= link_to 'Edit', edit_course_path(course) %></td>
          <!--<td><%#= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    <% else %>
      <p>Nothing to display...</p>
    <% end %>
  </tbody>
</table>