<p id="notice"><%= notice %></p>
<div style="display: inline-block">
  <h1>My Courses</h1>
  <%#= link_to 'New Course', new_course_path, :class => "btn btn-primary" %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Par</th>
      <th>Rating</th>
      <th>Slope</th>
      <th>Favourite</th>
      <th>Tees</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% if @courses.any? %>
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, course %></td>
          <td><%= course.par %></td>
          <td><%= course.rating %></td>
          <td><%= course.slope %></td>
          <td><%= course.favourite %></td>
          <td><%= course.tees %></td>
          <td><%#= link_to 'Show', course %></td>
          <td><%#= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <p>Nothing to display...</p>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Course', new_course_path, :class => "btn btn-primary" %>
<%#= link_to 'New Course', new_course_path %>