<div style="display: inline-block">
  <h1>My Courses (<%= @courses.count %>)</h1>
</div>
<div>
  <br>
  <%= link_to 'Add a Course', new_course_path, :class => "btn btn-primary" %>
  <br>
  <br>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Par</th>
        <th>Rating</th>
        <th>Slope</th>
        <th>Tees</th>
      </tr>
    </thead>
    <tbody>
      <%# if @courses.any? %>
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, course %></td>
          <td><%= course.par %></td>
          <td><%= course.rating %></td>
          <td><%= course.slope %></td>
          <td><%= course.tees %></td>
          <!--<td><%#= course.favourite %></td>-->
        </tr>
      <% end %>
      <!--<%# else %>-->
      <!--  <p>Nothing to display...</p>-->
      <!--<%# end %>-->
    </tbody>
  </table>
</div>

<br>
<h3>Import Courses CSV</h3>
<br>
<%= form_tag import_courses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Courses" %>
<% end %>