<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Par:</strong>
  <%= @course.par %>
</p>

<p>
  <strong>Yardage:</strong>
  <%= @course.yardage %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @course.rating %>
</p>

<p>
  <strong>Slope:</strong>
  <%= @course.slope %>
</p>

<p>
  <strong>Favourite:</strong>
  <%= @course.favourite %>
</p>

<p>
  <strong>Tees:</strong>
  <%= @course.tees %>
</p>

<%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-primary" %> |
<%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %> |
<%= link_to 'My Courses', courses_path, :class => "btn btn-success" %>