<div style="display: inline-block">
  <h1># of Rounds: <%= @rounds.count %></h1>
  <!--Need error handling here for nil rounds-->
  <!--should maybe look at using decimal instead of float-->
</div>
<div style="display: block">
  <br>
  <!--<h4>Performance:</h4>-->
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Results</th>
        <th>Average</th>
        <!--<th colspan="2"></th>-->
      </tr>
    </thead>
    <tbody>
      <% if @rounds.any? %>
        <tr><td>Average Score:</td><td><%= @rounds.average("score").round %></td></tr>
        <tr><td>Fairways Hit:</td><td><%= @rounds.average("fairways").round %>  (<%#= @rounds.average("fairways") / 14 * 100 %> %)</td></tr>
        <tr><td>Greens in Regulation:</td><td><%= @rounds.average("gir").round %>  (<%#= @rounds.average("gir") / 18 * 100 %> %)</td></tr>
        <tr><td>Putts per Round:</td><td><%= @rounds.average("putts").round %></td></tr>
        <tr><td>3-Putts per Round:</td><td><%= @rounds.average("three_putts").round %></td></tr>
        <tr><td>Penalty Strokes:</td><td><%= @rounds.average("penalties").round %></td></tr>
      <% else %>
        <p>Nothing to display...</p>
      <% end %>
    </tbody>
  </table>
</div>
<div style="display: block">
  <br>
  <!--<h4>Missed Shots:</h4>-->
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Missed Shots</th>
        <th>Average</th>
        <!--<th colspan="2"></th>-->
      </tr>
    </thead>
    <tbody>
      <% if @rounds.any? %>
        <tr><td>Drivers:</td><td><%= @rounds.average("missed_driver").round %></td></tr>
        <tr><td>Fairway Woods:</td><td><%= @rounds.average("missed_fairway_metal").round %></td></tr>
        <tr><td style="font-weight: bold">Missed Woods (Total):</td><td style="font-weight: bold"><%= @rounds.average("missed_driver").round + @rounds.average("missed_fairway_metal").round %></td></tr>
        <tr><td>Long Irons (3-5):</td><td><%= @rounds.average("missed_iron_long").round %></td></tr>
        <tr><td>Mid Irons (6-8):</td><td><%= @rounds.average("missed_iron_mid").round %></td></tr>
        <tr><td>Short Irons (9-LW):</td><td><%= @rounds.average("missed_iron_short").round %></td></tr>
        <tr><td style="font-weight: bold">Missed Irons (Total):</td><td style="font-weight: bold"><%= @rounds.average("missed_iron_long").round + @rounds.average("missed_iron_mid").round + @rounds.average("missed_iron_short").round %></td></tr>
        <tr><td>Pitches:</td><td><%= @rounds.average("missed_pitch").round %></td></tr>
        <tr><td>Chips:</td><td><%= @rounds.average("missed_chip").round %></td></tr>
        <tr><td>Sand Shots:</td><td><%= @rounds.average("missed_sand").round %></td></tr>
        <tr><td style="font-weight: bold">Missed Short Game (Total):</td><td style="font-weight: bold"><%= @rounds.average("missed_pitch").round + @rounds.average("missed_chip").round + @rounds.average("missed_sand").round %></td></tr>
        <tr><td>Long Putts:</td><td><%= @rounds.average("missed_putt_long").round %></td></tr>
        <tr><td>Medium Putts:</td><td><%= @rounds.average("missed_putt_mid").round %></td></tr>
        <tr><td>Short Putts:</td><td><%= @rounds.average("missed_putt_short").round %></td></tr>
        <tr><td style="font-weight: bold">Missed Putts (Total):</td><td style="font-weight: bold"><%= @rounds.average("missed_putt_long").round + @rounds.average("missed_putt_mid").round + @rounds.average("missed_putt_short").round %></td></tr>
      <% else %>
        <p>Nothing to display...</p>
      <% end %>
    </tbody>
  </table>
</div>